{% extends 'base.html' %}

{% block titulo %}
Evaluaciones
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Evaluaciones</h3>

    <!-- tarjeta -->
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary" id="btnAgregar">Agregar</button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Tipo de Evaluación</th>
              <th>Fecha</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
      </table>
      </div>
    </div>
    <!-- /tarjeta -->

    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
      <!-- La clase modal-dialog-centered centra el modal -->
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdEvaluacion">
              <label for="txtNombre">Nombre:</label>
              <input type="text" class="form-control" placeholder="Ingrese el nombre de la evaluación" id="txtNombre">
            </div>
            <div class="form-group">
              <label for="txtTipoEvaluacion">Tipo de Evaluación:</label>
              <input type="text" class="form-control" placeholder="Ingrese el tipo de evaluación" id="txtTipoEvaluacion">
            </div>
            <div class="form-group">
              <label for="txtFecha">Fecha:</label>
              <input type="date" class="form-control" id="txtFecha">
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>

        </div>
      </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/evaluaciones',
      columns: [
        { data: 'nombre' },
        { data: 'tipo_evaluacion' },
        { data: 'fecha' },
        { data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-primary" data-id="${row.id}">Editar</button>
                    <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id}">Eliminar</button>`
          }
        }
      ]
    });
  }

  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      // Setear un título a modal
      $('#modalTitle').text("Agregar una Evaluación");
      // inicia ventana modal
      $('#txtIdEvaluacion').val("");
      $('#txtNombre').val("");
      $('#txtTipoEvaluacion').val("");
      $('#txtFecha').val("");
      $('#modalFormulario').modal();
    });
  }

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idEvaluacion = $('#txtIdEvaluacion').val();
      const nombre = $('#txtNombre').val();
      const tipoEvaluacion = $('#txtTipoEvaluacion').val();
      const fecha = $('#txtFecha').val();
      const tabla = $('#tbl').DataTable();

      if(idEvaluacion) {
        // update
        fetch(`/api/v1/evaluaciones/${idEvaluacion}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify({ nombre, tipo_evaluacion: tipoEvaluacion, fecha })
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "La evaluación ha sido actualizada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar la evaluación.", "error");
        });
      } else {
        // insert
        fetch(`/api/v1/evaluaciones`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify({ nombre, tipo_evaluacion: tipoEvaluacion, fecha })
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Agregado", "La evaluación ha sido agregada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar la evaluación.", "error");
        });
      }
      $('#txtNombre').val("");
      $('#txtTipoEvaluacion').val("");
      $('#txtFecha').val("");
      $('#modalFormulario').modal("hide");
    });
  }

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]', function() {
      // Mostrar mensaje de confirmación usando sweetalert
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar una Evaluación");

          const idEvaluacion = $(this).data('id');
          $('#txtIdEvaluacion').val(idEvaluacion);

          // Necesitamos obtener los detalles de la evaluación del backend
          fetch(`/api/v1/evaluaciones/${idEvaluacion}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#txtNombre').val(data.data.nombre);
            $('#txtTipoEvaluacion').val(data.data.tipo_evaluacion);
            $('#txtFecha').val(data.data.fecha);
            $('#modalFormulario').modal();
          });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]', function() {
      const idEvaluacion = $(this).data('id');
      // Mostrar mensaje de confirmación usando sweetalert
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/evaluaciones/${idEvaluacion}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if(data && !data.error && data.success) {
              // Para borrar la fila del datatable(cliente)
              const fila = $(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", "success");
            } else {
              Swal.fire(data.error);
            }
          }).catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar la evaluación.", "error");
          });
        }
      });
    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
  }

  $(function() {
    initDatatable();
    addEvents();
  });
</script>
{% endblock %}
