{% extends 'base.html' %}

{% block titulo %}
Profesores
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Profesores</h3>

    <!-- tarjeta -->
    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-primary" id="btnAgregar">Agregar</button>
        </div>
        <div class="card-body">
            <table class="table table-striped" id="tbl">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Título Académico</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- /tarjeta -->

    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="txtIdProfesor">
                        <label for="txtNombre">Nombre:</label>
                        <input type="text" class="form-control" placeholder="Ingrese el nombre" id="txtNombre">
                    </div>
                    <div class="form-group">
                        <label for="txtApellido">Apellido:</label>
                        <input type="text" class="form-control" placeholder="Ingrese el apellido" id="txtApellido">
                    </div>
                    <div class="form-group">
                        <label for="txtTitulo">Título Académico:</label>
                        <input type="text" class="form-control" placeholder="Ingrese el título académico" id="txtTitulo">
                    </div>
                    <div class="form-group">
                        <label for="txtCorreo">Correo:</label>
                        <input type="email" class="form-control" placeholder="Ingrese el correo" id="txtCorreo">
                    </div>
                    <div class="form-group">
                        <label for="txtTelefono">Teléfono:</label>
                        <input type="text" class="form-control" placeholder="Ingrese el teléfono" id="txtTelefono">
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    const initDatatable = () => {
        $('#tbl').DataTable({
            language: {
                url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
            },
            ajax: '/api/v1/profesores',
            columns: [
                { data: 'nombre_profesor' },
                { data: 'apellido_profesor' },
                { data: 'titulo_academico' },
                { data: 'correo' },
                { data: 'telefono' },
                { data: function(row) {
                    return `<button type="button" name="btn_editar" class="btn btn-primary" data-id="${row.id_profesor}">Editar</button>
                            <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id_profesor}">Eliminar</button>`;
                }}
            ]
        });
    }

    const agregar = () => {
        $('#btnAgregar').on('click', function(){
            $('#modalTitle').text("Agregar un Profesor");
            $('#txtIdProfesor').val("");
            $('#txtNombre').val("");
            $('#txtApellido').val("");
            $('#txtTitulo').val("");
            $('#txtCorreo').val("");
            $('#txtTelefono').val("");
            $('#modalFormulario').modal();
        });
    }

    const guardar = () => {
        $('#btnGuardar').on('click', function() {
            const idProfesor = $('#txtIdProfesor').val();
            const nombre = $('#txtNombre').val();
            const apellido = $('#txtApellido').val();
            const titulo = $('#txtTitulo').val();
            const correo = $('#txtCorreo').val();
            const telefono = $('#txtTelefono').val();
            const tabla = $('#tbl').DataTable();

            if (idProfesor) {
                // update
                fetch(`/api/v1/profesores/${idProfesor}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    }, 
                    body: JSON.stringify({ 
                        nombre_profesor: nombre, 
                        apellido_profesor: apellido, 
                        titulo_academico: titulo, 
                        correo: correo, 
                        telefono: telefono 
                    })
                })
                .then(resp => resp.json())
                .then(data => {
                    if(data && !data.error && data.success) {
                        tabla.ajax.reload();
                        Swal.fire("Actualizado", "El profesor ha sido actualizado correctamente.", "success");
                    } else {
                        Swal.fire(data.error);
                    }
                }).catch(err => {
                    console.error(err);
                    Swal.fire("Error", "Ocurrió un error al actualizar el profesor.", "error");
                });
            } else {
                // insert
                fetch(`/api/v1/profesores`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }, 
                    body: JSON.stringify({ 
                        nombre_profesor: nombre, 
                        apellido_profesor: apellido, 
                        titulo_academico: titulo, 
                        correo: correo, 
                        telefono: telefono 
                    })
                })
                .then(resp => resp.json())
                .then(data => {
                    if(data && !data.error && data.success) {
                        tabla.ajax.reload();
                        Swal.fire("Agregado", "El profesor ha sido agregado correctamente.", "success");
                    } else {
                        Swal.fire(data.error);
                    }
                }).catch(err => {
                    console.error(err);
                    Swal.fire("Error", "Ocurrió un error al guardar el profesor.", "error");
                });
            }
            $('#modalFormulario').modal("hide");
        });
    }

    const editar = () => {
        $('#tbl').on('click', 'button[name="btn_editar"]', function(){
            Swal.fire({
                title: "¿Deseas editar este registro?",
                showCancelButton: true,
                confirmButtonText: "Sí",
                cancelButtonText: "No"
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#modalTitle').text("Editar un Profesor");

                    const idProfesor = $(this).data('id');
                    $('#txtIdProfesor').val(idProfesor);

                    fetch(`/api/v1/profesores/${idProfesor}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(resp => resp.json())
                    .then(data => {
                        $('#txtNombre').val(data.data.nombre_profesor);
                        $('#txtApellido').val(data.data.apellido_profesor);
                        $('#txtTitulo').val(data.data.titulo_academico);
                        $('#txtCorreo').val(data.data.correo);
                        $('#txtTelefono').val(data.data.telefono);
                        $('#modalFormulario').modal();
                    });
                }
            });
        });
    }

    const eliminar = () => {
        $('#tbl').on('click', 'button[name="btn_eliminar"]', function(){
            const idProfesor = $(this).data('id');
            Swal.fire({
                title: "¿Deseas eliminar este registro?",
                showCancelButton: true,
                confirmButtonText: "Sí",
                cancelButtonText: "No"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/api/v1/profesores/${idProfesor}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(resp => resp.json())
                    .then(data => {
                        if(data && !data.error && data.success) {
                            const fila = $(this).closest('tr');
                            const tabla = $('#tbl').DataTable();
                            tabla.row(fila).remove().draw();
                            Swal.fire("Eliminado", "", "success");
                        } else {
                            Swal.fire(data.error);
                        }
                    }).catch(err => {
                        Swal.fire("Error", "Ocurrió un error al eliminar el profesor.", "error");
                    });
                }
            });
        });
    }

    const addEvents = () => {
        agregar();
        guardar();
        editar();
        eliminar();
    }

    $(function() {
        initDatatable();
        addEvents();
    });
</script>
{% endblock %}
